@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.app {
  @apply w-3/5 mx-auto relative bg-gray-400 bg-blend-darken bg-support-bg-image bg-cover mix-blend-darken mt-24;
}
.app::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
